<div class="plainRow"></div>
<div class="header">
    <mat-toolbar class="light-green-bg">
        <mat-toolbar-row class="container">

            <!-- Mobile Menu View -->
            <div fxLayout="row" fxFlex="100" fxShow.gt-sm fxLayoutAlign="space-between center">
                <button mat-icon-button (click)="toggleSidenav()">
                    <mat-icon>menu</mat-icon>
                </button>
    
                <div class="logo" fxLayoutAlign="end">
                    <img src="assets/logo.png" alt="logo">
                </div>
            </div>
            <!-- Desktop Laptop Menu View -->
            <div fxLayout="row" fxHide.lt-md fxLayoutAlign="space-between center" fxFlex="100">
                <div class="logo">
                    <img src="assets/logo.png" alt="logo">
                </div>
                <div fxShow="true" fxLayout="row" class="menuList">                    
                    <a routerLink="#" mat-button class="homeIcon">
                        <mat-icon>home</mat-icon>
                        <span>Home</span>
                    </a>
                    <a routerLink="#"class="primary activeRoute">
                        <span class="svgMenu">
                        <span><img src="assets/holiday.svg" alt="holiday"></span>
                        <span>Holiday</span>
                        </span>
                    </a>
                    <a routerLink="#" mat-button>
                        <mat-icon>flight</mat-icon>
                        Flights
                    </a>
                    <a routerLink="#" mat-button>
                        <mat-icon>hotel</mat-icon>
                        Hotels
                    </a>
                    <a routerLink="#" mat-button>
                        <mat-icon>local_shipping</mat-icon>
                        Transfers
                    </a>
                    <a routerLink="#" mat-button>
                        <mat-icon>hiking</mat-icon>
                        Activities
                    </a>
                </div>
                <div class="rightIcons" fxLayoutGap="20px">
                    <img src="assets/atol-grey-1.png" alt="icon1">
                    <img src="assets/IATA-2.png" alt="icon2">
                    <img src="assets/abta-3.png" alt="icon3">
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>