<div class="footer bg-primary"  ngClass.lt-md="footerMobile">
    <div class="container">
        <div fxLayout="row" ngClass.lt-md="mobileWrap" fxFlex="100" fxLayoutGap.lt-md="5px" fxLayoutGap="30px">
            <div class="column" fxFlex="20"  fxFlex.lt-md="48" fxLayoutGap.lt-md="5px" fxLayoutGap="15px">
                <div class="footerTitle">Discover</div>
                <div class="links marginAdd">
                    <div>Home</div>
                    <div>About Us</div>
                    <div>Blog</div>
                    <div>Contact US</div>
                    <div>Help Center</div>
                    <div>FAQ</div>
                </div>
            </div>
            <div class="column" fxFlex.lt-md="48" fxFlex="20" fxLayoutGap.lt-md="5px" fxLayoutGap="15px">
                <div class="footerTitle">Vacations</div>
                <div class="links marginAdd">
                    <div>Best Holidays</div>
                    <div>Best Flights</div>
                    <div>Best Hotels</div>
                    <div>Best Transfers</div>
                    <div>Best Activities</div>
                </div>
            </div>
            <div class="column" fxFlex.lt-md="100" fxFlex="60" fxLayoutGap.lt-md="5px" fxLayoutGap="15px">
                <div class="footerTitle">About Us</div>
                <div class="para">
                    <div class="margin10">Trips from Trumba Travel does not come based on pre-set itineraries. We believe the best tailor made holiday packages we offer is not by just adding elements together but is purely based on and as a result of our direct personal experience...
                    </div>
                    <div class="bold">Read more</div>
                </div>
                <div class="socialNetwork margin30"  fxLayoutGap="15px" fxLayoutGap.lt-md="3px">
                    <img src="assets/face.svg" alt="face Book">
                    <img src="assets/twitter.svg" alt="twitter">
                    <img src="assets/insta.svg" alt="instagrma">
                    <img src="assets/skype.svg" alt="skype">
                    <img src="assets/youtube.svg" alt="youtube">
                </div>
                <div class="linksInfo margin20 mobileWrap" fxLayoutGap="25px" fxLayoutGap.lt-md="5px">
                    <span class="bgFooterLogo logo" fxFlex.lt-md="20">
                        <img src="assets/footer-logo.svg" alt="logo">
                    </span>
                    <span fxFlex.lt-md="60">www.trumbatravel.com </span>
                    <a href="#" fxFlex.lt-md="30">Privacy</a>
                    <a href="#" fxFlex.lt-md="30">Cookies</a>
                    <a href="#" fxFlex.lt-md="35">Terms of Use</a>
                </div>
            </div>
        </div>
    </div>
</div>