<div class="header">
    <mat-toolbar class="light-green-bg" ngClass.lt-md="mobilFootBg">
        <mat-toolbar-row class="container" fxLayout.lt-md="column">
            <div fxLayout="row" fxLayout.lt-md="column" class="copyRight" fxFlex="100">
                <div class="logo">
                    <img src="assets/logo.png" alt="logo">
                </div>
                <div>
                   <span>Trumba Travel Reg. No. 07636765. 205, Greenwell Wynd, Edinburgh EH17 8WQ</span>
                </div>
                <div class="rightIcons">
                    <span>Copyright© 2019-23 Trumba Travel</span>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>