
mat-toolbar-row {
    height: 100%;
}

.copyRight {
    align-items: center;
    place-content: center space-between;
    span {
        color: (#14131E);
        font-size: 14px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.light-green-bg.mobilFootBg {
    height: 100%;
    padding: 20px 5px;
}